<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
  <system.webServer> 
    <defaultDocument> 
      <files> 
        <clear /> 
        <add value="index.html" /> 
      </files> 
    </defaultDocument> 
    <staticContent> 
      <mimeMap fileExtension=".json" mimeType="application/json" /> 
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" /> 
    </staticContent> 
    <httpCompression> 
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" /> 
      <dynamicTypes> 
        <add mimeType="text/*" enabled="true" /> 
        <add mimeType="application/javascript" enabled="true" /> 
        <add mimeType="application/json" enabled="true" /> 
      </dynamicTypes> 
      <staticTypes> 
        <add mimeType="text/*" enabled="true" /> 
        <add mimeType="application/javascript" enabled="true" /> 
        <add mimeType="application/json" enabled="true" /> 
      </staticTypes> 
    </httpCompression> 
  </system.webServer> 
</configuration> 
